#primary {
  height: 75px;
}

#secondary {
  height: 150px;
}

#ternary {
  height: 830px;
}

@media (min-width: 768px) {
  body {
    max-width: 960px;
  }
  
  div {
    background-color: rgb(255, 159, 159);
  }

  #primary {
    width: 100%;
    height: 100px;
  }
  
  #secondary {
    float: left;
    width: 20.833%;
    height: 600px;
  }

  #ternary {
    float: right;
    width: 79.166%;
  }
}
